<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HANDFORHAND</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/d371356579.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href='{% static "css\disaster.css" %}'/>
        <link rel="stylesheet" href='{% static "css\about.css" %}'/>
        <link rel="stylesheet" href='{% static "css\home.css" %}'/>
        <link rel="stylesheet" href='{% static "css\site.css" %}'/>
</head>
<body>

    <!-- Nav-Bar -->
     <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fas fa-love"></i> HandForHand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
               </ul>

              <ul class="navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                 <li class="nav-item">
            <a class="nav-link" href="{% url 'first_app:home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
                  <li class="nav-item">
            <form action="{% url 'first_app:logout' %}" class="nav-link" method="post">
              {% csrf_token %}
              <button type="submit">Log-Out</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'first_app:about' %}">About</a>
          </li>
           {% else %}
                  <li class="nav-item">
            <a class="nav-link" href="{% url 'first_app:home' %}">Home <i class="fas fa-home"></i></a>
          </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'first_app:login' %}">LogIn <i class="fas fa-user"></i></a></li>
             <li class="nav-item"><a class="nav-link" href="{% url 'first_app:register' %}">SignUp <i class="fas fa-user-plus"></i></a></li>
                  <li class="nav-item">
            <a class="nav-link" href="{% url 'first_app:about' %}">About</a>
          </li>
           {% endif %}
              </ul>
              </div>
        </div>
    </nav>
{% block body %}
{% endblock %}

  <!-- Footer -->
  <footer class="page-footer font-small blue bg-info fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 d">© 2020 Copyright:  Let's Learn!</div>

  </footer>
<!-- Footer -->


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>